<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset='utf-8'>
    <title>Page not found</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/logo.png" />
    <link rel='stylesheet' type='text/css' href='/css/style.css'>
    <!--warum wird geladen nur wenn mit slash anfaengt -->
</head>

<body>
    <h1>404 : Page not found</h1>
    <%- include("includes/nav") %>
    <%- include("includes/aside") %>
    <%- include("includes/footer") %>
</body>

</html>