<aside>
    <h4>Zusatzinformationen</h4>
    <ul>
        <li> <a href="https://www.fh-dortmund.de/de/index.php"> FH Dortmund Homepage</a> </li>
        <li>Support</li>
        <li>zuletzt geändert am: 30.11.2019</li>
    </ul>
</aside>