<nav>
    <ul>
        <li><a href="RaeumeListe">Liste der verfügbaren Räume</a></li>
        <li> | </li>
        <li><a href="Buchungsdetails">Detailseite zur Buchung</a></li>
        <li> | </li>
        <li><a href="Raumdetails">Raumdetails</a></li>
        <li> | </li>
        <li><a href="Seminar_Anlegen">Anlegen eines Seminars</a></li>
    </ul>
    <hr />
</nav>